<header>
    <h2>Tweedle Dumb Ltd.</h2>
    <strong>Company ID</strong>
    <div class="mt-1 mb-2 form-control form-control-sm">5315469854</div>
    <strong>Tender ID</strong>
    <div class="mt-1 form-control form-control-sm">PROC/20/0001/d</div>
</header>

<div class="card">
    <h5 class="card-header d-flex align-items-center">
        <span>Related individuals</span>
        <span class="ml-auto badge badge-pill badge-warning d-flex">
            {% include icons/exclamation-triangle.html %}
            1
        </span>
    </h5>
  
    <ul class="list-group list-group-flush">
        <li class="list-group-item">David Smith</li>
        <li class="list-group-item list-group-item-warning">
            <strong>Tarquin Scarlet</strong>
            <p class="mb-0 mt-1" style="font-size: 0.875rem">This individual is related to multiple applicants in this tender.</p>
        </li>
        <li class="list-group-item">John Black</li>
        <li class="list-group-item">Mary White</li>
    </ul>
</div>

<div class="card">
    <h5 class="card-header d-flex align-items-center">
        <span>Related companies</span>
        <span class="ml-auto badge badge-pill badge-warning d-flex">
            {% include icons/exclamation-triangle.html %}
            1
        </span>
    </h5>
  
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Tweedle Dumb Group Ltd.</li>
        <li class="list-group-item list-group-item-warning">
            <strong>Evil Cartel Plc.</strong>
            <p class="mb-0 mt-1" style="font-size: 0.875rem">This company is related to multiple applicants in this tender.</p>
        </li>
    </ul>
</div>
