.icon {
    width: auto;
    height: 1em;
    display: inline-block;
    vertical-align: -0.2em;
}

.navbar-brand {
    font-weight: bold;

    .icon {
        height: 1.5em;
        vertical-align: -0.4em;
    }
}

.fake-link {
    color: $link-color;
    text-decoration: $link-decoration;
    cursor: not-allowed;
}

code {
    background: $gray-200;
    border-radius: 0.2em;
    padding: 0.25em 0.4em;
}

.site-footer {
    height: 5rem;
    background-color: $gray-200;
    margin-top: ($spacer * 5);
    box-shadow: 0 1000px 0 1000px $gray-200;
}

.application-summaries {
    border-top: 1px solid $border-color;
}

.application-summary {
    border-bottom: 1px solid $border-color;
    padding: ($spacer * 0.75) 0;

    @include media-breakpoint-up('sm') {
        display: flex;
        padding: $spacer 0;
    }
}

.bods-application-page {
    h2 {
        @include font-size($h4-font-size);
        margin: ($spacer * 3) 0 ($spacer * 1.5) 0;
        padding-bottom: $spacer;
        border-bottom: 1px solid $border-color;
    }
}

.scorecards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: ($spacer * 2);
    margin: $spacer 0 ($spacer * 2) 0;

    @include media-breakpoint-up('md') {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-up('lg') {
        grid-template-columns: repeat(3, 1fr);
    }
}

.scorecard-key {
    display: block;
}

.scorecard-value {
    .list-group-item-danger &,
    .list-group-item-warning & {
        font-weight: bold;
    }
}

.scorecard-warning {
    margin: 0;
}

.js-four-year-sparkline {
    stroke: $orange;
    fill: rgba($orange, 0.1);
}
